
/*********************************************************
    MAIN ELEMENTS
*********************************************************/




/*********************************************************
    CLASSES
*********************************************************/

.margin-top {
    margin-top: 30px !important;
}

.margin-top-lrg {
    margin-top: 50px;
}

.centered {
    text-align: center;
}



/*********************************************************
    OVERRIDES
*********************************************************/

.button.ui.green.large.fluid.button {
    background-color: #002208 !important;
}

.button.ui.green.large.fluid.button:hover {
    background-color: #006718 !important;
}

h2.ui.green.center.aligned.header {
    color:#107b29 !important;
}

h2.ui.icon.center.aligned.header {
    color: #002208 !important;
}

.ui.inverted.menu .teal.active.item, .ui.inverted.teal.menu {
    background-color: #002208 !important;
}

i.circular.icon {
    box-shadow: 0 0 0 0.1em #006718 inset !important;
}

h2.ui.icon.center.aligned.header {
    color: white !important;
}